
{% extends 'first-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
    <style>
        #success_message{ display: none;}
    </style>
{% endblock %}
{% block body %}


    <!--==============page header============-->
    <div class="page-breadcrumb">
        <div class="container text-center">
        </div>
    </div>
    <!--==============end page header============-->



                    <!-- Form Name -->
                    <!--<h4>Select the nearest store</h4>
                   <!-- <h4 style="text-align: center"><a href="login-register" ><i class="ion-person"></i>SIGN IN</a> to your Pizza Profile for faster checkout or continue below as guest.</h4>-->



                    <!-- Select Basic -->


                        <div class="row" style= 'background-image: url("http://wizeguyspizza.com/bg-image_wize-guys-pizzeria-two-locations_1360_768.jpg")' >
                            <div class="col">
                                <a href="hackensack" style="position:relative; left: 20%"> <img src="http://wizeguyspizza.com/Wize-Guys-Pizzeria-Hackensack-Chalkboard.jpg" id="hack-pic"> </a>
                            </div>
                            <div class="col">

                                <a href="clifton" style="position:relative; left:12.5% "> <img src="http://wizeguyspizza.com/Clifton-Chalkboard7.jpg" id="clifton-pic"> </a>
                            </div>
                        </div>



    <div class="container-fluid no-padd contact-wrapper">
        <div class="row align-items-center no-margin">
            <div class="col-md-8 no-padd">
                <!--Google Maps-->
                <div class="google-map-container">
                    <div id="googlemaps" style="width: 100%;height: 400px;"></div>
                </div>
                <!--/Google Maps-->
            </div>
            <div class="col-md-4 no-padd address-bg">
                <h3>Hackensack</h3>
                <ul class="list-unstyled">
                    <li>380 West Pleasantview Ave</li>
                    <li>New Jersey, NJ 07601</li>
                    <li><i class="ion-ios-telephone"></i> (201)343-1000 </li>
                </ul>
                <hr>
                <h3>Clifton</h3>
                <ul class="list-unstyled">
                    <li>353 Crooks Avenue</li>
                    <li>New Jersey, NJ 07011</li>
                    <li><i class="ion-ios-telephone"></i> (973)772-3535 </li>
                </ul>
            </div>
        </div>
    </div><!--/map wrap-->
    <div class="space-70"></div>

    {% block javascripts %}
        <!--bootstrap scripts-->


        <script>
            $(document).ready(function() {
                $('#contact_form').bootstrapValidator({
                    // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        first_name: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your first name'
                                }
                            }
                        },
                        last_name: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your last name'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your email address'
                                },
                                emailAddress: {
                                    message: 'Please supply a valid email address'
                                }
                            }
                        },
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your phone number'
                                },
                                phone: {
                                    country: 'US',
                                    message: 'Please supply a vaild phone number with area code'
                                }
                            }
                        },
                        address: {
                            validators: {
                                stringLength: {
                                    min: 8,
                                },
                                notEmpty: {
                                    message: 'Please supply your street address'
                                }
                            }
                        },
                        city: {
                            validators: {
                                stringLength: {
                                    min: 4,
                                },
                                notEmpty: {
                                    message: 'Please supply your city'
                                }
                            }
                        },
                        state: {
                            validators: {
                                notEmpty: {
                                    message: 'Please select your state'
                                }
                            }
                        },
                        zip: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your zip code'
                                },
                                zipCode: {
                                    country: 'US',
                                    message: 'Please supply a vaild zip code'
                                }
                            }
                        },
                        comment: {
                            validators: {
                                stringLength: {
                                    min: 10,
                                    max: 200,
                                    message:'Please enter at least 10 characters and no more than 200'
                                },
                                notEmpty: {
                                    message: 'Please supply a description of your project'
                                }
                            }
                        }
                    }
                })
                    .on('success.form.bv', function(e) {
                        $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                        $('#contact_form').data('bootstrapValidator').resetForm();

                        // Prevent form submission
                        e.preventDefault();

                        // Get the form instance
                        var $form = $(e.target);

                        // Get the BootstrapValidator instance
                        var bv = $form.data('bootstrapValidator');

                        // Use Ajax to submit form data
                        $.post($form.attr('action'), $form.serialize(), function(result) {
                            console.log(result);
                        }, 'json');
                    });
            });



            <!--google map-->
            jQuery("#slider1").revolution({
                sliderType: "standard",
                jsFileLocation: "../../revolution/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    arrows: {enable: true}
                },
                parallax: {
                    type: "on",
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85],
                    origo: "enterpoint",
                    speed: 400,
                    bgparallax: "on",
                    disable_onmobile: "off"
                },
                gridwidth: 1170,
                gridheight: 600
            });
            (function ($) {
                $(document).ready(function () {

                    $('#googlemaps').gMap({
                        maptype: 'ROADMAP',
                        scrollwheel: false,
                        zoom: 13,
                        markers: [
                            {
                                address: 'New Jersey, 380 W Pleasantview Ave', // Your Address Here
                                html: '<strong>Hackensack</strong><br>380 W Pleasantview Ave </br> NJ 07601  ',
                                popup: false,
                                icon: {
                                    image: "../images/marker.png",
                                    iconsize: [28, 40],
                                    iconanchor: [20, 40]
                                }
                            }

                        ]
                    });
                });
            })(this.jQuery);


            (function ($) {
                $(document).ready(function () {

                    $('#googlemaps').gMap({
                        maptype: 'ROADMAP',
                        scrollwheel: false,
                        zoom: 12,
                        markers: [
                            {
                                address: 'New Jersey, 353 Crooks Avenue', // Your Address Here
                                html: '<strong>Clifton</strong><br>353 Crooks Avenue </br> NJ 07011  ',
                                popup: false,
                                icon: {
                                    image: "../images/marker.png",
                                    iconsize: [28, 40],
                                    iconanchor: [20, 40]
                                }
                            }

                        ]
                    });
                });
            })(this.jQuery);
        </script>
    {% endblock %}
{% endblock %}
