
{% extends 'aboutbase.html.twig' %}
{% block body %}


        <!--==============page header============-->
        <div class="page-breadcrumb">
            <div class="container text-center">
                <h1>Forgot Password</h1>
            </div>
        </div>
        <!--==============end page header============-->
      <div class="overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="login-register-left login-register-container">
                            <div class="login-register-inner">
                                <h3 class="margin-b-20 text-uppercase">Login</h3>
                                <form  method="post" action="" name="login">
                                    <h5>Enter your email to receive a temporary code that allows you to get a new password</h5>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address*" name="email_address" required>
                                    </div>
                                    <div class="clearfix">
                                        <div class="float-right text-right">
                                            <button type="submit" class="btn btn-primary btn-lg" value="Login" name="submit_login"> Get Code </button>  <br>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
                    <div class="col-sm-4"></div>
            </div>
        </div>


    {% block javascripts %}


<script>


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })




</script>

        {% endblock %}
 {% endblock %}
