
{% extends 'aboutbase.html.twig' %}
{% block body %}


        <!--==============page header============-->
        <div class="page-breadcrumb">
            <div class="container text-center">
                <h1>Login & SignUp</h1>
            </div>
        </div>
        <!--==============end page header============-->
      <div class="overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <div class="login-register-left login-register-container">
                            <div class="login-register-inner">
                                <h3 class="margin-b-20 text-uppercase">Login</h3>
                                <form  method="post" action="" name="login">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address*" name="email_address" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password*" name="password"required>
                                    </div>
                                    <div class="clearfix">
                                        <div class="float-right text-right">
                                            <button type="submit" class="btn btn-primary btn-lg" value="Login" name="submit_login"> Login</button>  <br>
                                            <div>
                                                <a href="#">Forget Password?</a>
                                            </div>
                                        </div>
                                        <div class="float-left">

                                            <div>
                                                <input type="checkbox" name="remember" id="remember">
                                                <label for="remember">Remember me next time</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-5 mr-auto">
                        <div class="space-80"></div>
                        <div class="login-register-container">
                            <h3 class="margin-b-20 text-uppercase">Register</h3>
                            <form  method="post" action="" name="register" id="register_form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email*" name="email_address"required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name*" name="first_name"required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name*" name="last_name" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control"  maxlength="10" pattern=".{10,}" placeholder="Phone Number*" name="phone_number" required title="10 characters format">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" pattern=".{8,}" placeholder="Password*" name="password"required title="8 characters minimum">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password*" name="confirm_password"required> <i class="ion-information-circled" data-toggle="tooltip" title="More secure password: include at lease one symbol, one uppercase and one digit"></i>
                                </div>
                                <div class="clearfix">
                                    <div class="float-right text-right">
                                        <button type="submit" class="btn btn-dark btn-lg" value="Sign Up" name="submit_register">Register</button>
                                    </div>
                                    <div class="float-left">

                                       <!-- <div>
                                            <input type="checkbox" name="agree" id="agree">
                                            <label for="agree">Agree with terms & conditions</label>
                                        </div>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="space-80"></div>
                    </div>
                </div>
            </div>
        </div>


    {% block javascripts %}


<script>


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })




</script>

        {% endblock %}
 {% endblock %}
